---
page-heading: "About"

breadcrumbs: [
	{
		label: "About"
	}
]
---

<!-- Section - How to play -->
<div class="section-content">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title">How to play</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-user-following"></i>
						</div>
					</div>
					<h3 class="icobox__title">Who Should Play?</h3>
					<div class="icobox__desc">
						Escapium is perfect for everyone. There are no special skills needed to have a great time. Bring your friends, family, co-workers, just a bunch of random people and get fun.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-chemistry"></i>
						</div>
					</div>
					<h3 class="icobox__title">For Team Building</h3>
					<div class="icobox__desc">
						Our escape rooms are designed for intense participation from the group trying to escape. It’s perfect for team building experience in your city.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-badge"></i>
						</div>
					</div>
					<h3 class="icobox__title">For Special Events</h3>
					<div class="icobox__desc">
						Whatever the celebration Escapium is here to take it to another level. Book your room and contact us to see how we can help make any special occasion even better.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
		</div>
	</div>
</div>
<!-- Section - How to play / End -->

<!-- Section - Video -->
<div class="section-media section--has-overlay section-media--bg1 jarallax" data-jarallax data-speed="0.4">
	<div class="section-media__inner">
		<a href="https://www.youtube.com/watch?v=XE0fU9PCrWE" class="section-media__link mp_iframe">
			<span class="icon-media icon-media--video">
				<i class="ion-play"></i>
			</span>
		</a>
	</div>
</div>
<!-- Section - Video / End -->

<!-- Section - Certificates -->
<div class="section-content">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title">Certificates</h2>
		</div>

		<ul class="certificates row list-unstyled">
			<li class="certificate col-sm-6 col-md">
				<img src="{{../root}}assets/img/samples/certificate-1.jpg" alt="">
			</li>
			<li class="certificate col-sm-6 col-md">
				<img src="{{../root}}assets/img/samples/certificate-2.jpg" alt="">
			</li>
			<li class="certificate col-sm-6 col-md">
				<img src="{{../root}}assets/img/samples/certificate-3.jpg" alt="">
			</li>
			<li class="certificate col-sm-6 col-md">
				<img src="{{../root}}assets/img/samples/certificate-4.jpg" alt="">
			</li>
		</ul>
	</div>
</div>
<!-- Section - Certificates / End -->

<!-- Section - Our Team -->
<div class="section-content section-content--secondary">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title">Our Team</h2>
		</div>

		<ul class="team team--grid list-unstyled row">
			<li class="team-member col-sm">
				<figure class="team-member__photo">
					<a href="#"><img src="{{../root}}assets/img/samples/member-photo-1.jpg" alt=""></a>
				</figure>
				<div class="team-member__info">
					<h3 class="team-member__title">Stanley Hudson</h3>
					<p class="team-member__meta">Co-Creator</p>
				</div>
			</li>
			<li class="team-member col-sm">
				<figure class="team-member__photo">
					<a href="#"><img src="{{../root}}assets/img/samples/member-photo-2.jpg" alt=""></a>
				</figure>
				<div class="team-member__info">
					<h3 class="team-member__title">Mona Sterling</h3>
					<p class="team-member__meta">Co-Creator</p>
				</div>
			</li>
			<li class="team-member col-sm">
				<figure class="team-member__photo">
					<a href="#"><img src="{{../root}}assets/img/samples/member-photo-3.jpg" alt=""></a>
				</figure>
				<div class="team-member__info">
					<h3 class="team-member__title">Trudy Campbell</h3>
					<p class="team-member__meta">Co-Creator</p>
				</div>
			</li>
		</ul>

	</div>
</div>
<!-- Section - Our Team / End -->

<!-- Section - Testimonials -->
<div class="section-content">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title">What People Say</h2>
			<div class="section-heading__subtitle">
				<a href="#">Read All Testiomials</a>
			</div>
		</div>

		<!-- Testimonials -->
		<div class="testimonials js-testimonials-slick slick--arrows-modern">

			<div class="testimonial">
				<blockquote class="testimonial__txt">
					My family and I had a spectacular experience here and they are above and beyond in customer service and entertainment.
				</blockquote>
				<div class="testimonial__meta">
					<figure class="testimonial__author-img">
						<img src="{{../root}}assets/img/samples/comment-avatar-1.png" alt="">
					</figure>
					<h6 class="testimonial__author-name">Aaron</h6>
				</div>
			</div>

			<div class="testimonial">
				<blockquote class="testimonial__txt">
					This place is a blast, especially for groups!  I loved seeing how group members of different personalities approached the puzzles.
				</blockquote>
				<div class="testimonial__meta">
					<figure class="testimonial__author-img">
						<img src="{{../root}}assets/img/samples/comment-avatar-2.png" alt="">
					</figure>
					<h6 class="testimonial__author-name">Tiffany</h6>
				</div>
			</div>

			<div class="testimonial">
				<blockquote class="testimonial__txt">
					My family and I had a spectacular experience here and they are above and beyond in customer service and entertainment.
				</blockquote>
				<div class="testimonial__meta">
					<figure class="testimonial__author-img">
						<img src="{{../root}}assets/img/samples/comment-avatar-1.png" alt="">
					</figure>
					<h6 class="testimonial__author-name">Aaron</h6>
				</div>
			</div>

			<div class="testimonial">
				<blockquote class="testimonial__txt">
					This place is a blast, especially for groups!  I loved seeing how group members of different personalities approached the puzzles.
				</blockquote>
				<div class="testimonial__meta">
					<figure class="testimonial__author-img">
						<img src="{{../root}}assets/img/samples/comment-avatar-2.png" alt="">
					</figure>
					<h6 class="testimonial__author-name">Tiffany</h6>
				</div>
			</div>

		</div>
		<!-- Testimonials / End -->

	</div>
</div>
<!-- Section - Testimonials / End -->

<!-- Section - FAQs -->
<div class="section-content section-content--tertiary">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title">FAQs</h2>
			<div class="section-heading__subtitle">
				If your question isn’t answered here, feel free to contact us.
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 ml-md-auto mr-md-auto">

				<!-- FAQs (accordion) -->
				<div id="faq-accordion" role="tablist" class="accordion">

					<!-- FAQ - 1 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingOne">
							<h3>
								<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									What is an Escape Room?
								</a>
							</h3>
						</div>
						<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 1 / End -->

					<!-- FAQ - 2 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingTwo">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Will I be locked in a room?
								</a>
							</h3>
						</div>
						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 2 / End -->

					<!-- FAQ - 3 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingThree">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									How long does the whole experience take?
								</a>
							</h3>
						</div>
						<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 3 / End -->

					<!-- FAQ - 4 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingFour">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									Can I play more than one game?
								</a>
							</h3>
						</div>
						<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 4 / End -->

					<!-- FAQ - 5 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingFive">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									Will other people be in the room with us?
								</a>
							</h3>
						</div>
						<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 5 / End -->

					<!-- FAQ - 6 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingSix">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									Do I need to bring anything?
								</a>
							</h3>
						</div>
						<div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 6 / End -->

					<!-- FAQ - 7 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingSeven">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
									Is there an age limit?
								</a>
							</h3>
						</div>
						<div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 7 / End -->

				</div>
				<!-- FAQs (accordion) / End -->

			</div>
		</div>

	</div>
</div>
<!-- Section - FAQs / End -->
