---
room-slider: true
room-title: "Magic Imporium"
---

<div class="section-content">

	<div class="container">

		<!-- Single Room - Content -->
		<div class="single-room-content">
			<div class="row">
				<div class="col-md-8">
					<!-- Meta -->
					<div class="room__meta room__meta--lg">
						<div class="room__meta-item room__meta-item--rating">
							<div class="room__meta-item-value">
								{{> _room-rating count="3"}}
							</div>
							<div class="room__meta-item-label">Easy</div>
						</div>
						<div class="room__meta-item">
							<div class="room__meta-item-value">
								<i class="ion-person-stalker"></i> 2-3
							</div>
							<div class="room__meta-item-label">Players</div>
						</div>
						<div class="room__meta-item">
							<div class="room__meta-item-value">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item-label">Minutes</div>
						</div>
					</div>
					<!-- Meta / End -->

					<p>Etiam pulvinar enim nec mi tincidunt, convallis hendrerit ligula interdum. Cras condimentum justo sed nunc cursus, ac euismod sem feugiat. In in maximus mauris. Vivamus eget erat non neque dignissim fermentum. Phasellus at dapibus tortor. Sed dapibus sagittis molestie. Donec ullamcorper, sapien eu commodo pulvinar, magna ante pharetra nunc, ut elementum orci erat sed risus. Nunc vel tincidunt ex.</p>

					<p>Vivamus ultrices dapibus justo, vel pharetra nisi mattis sit amet. Integer faucibus varius mauris sit amet molestie. Integer finibus velit in eleifend sodales. Aenean pulvinar sapien vitae justo imperdiet dignissim. Integer facilisis magna felis, vel interdum ligula consectetur et. Quisque ac porttitor nisl.</p>

					<p>Aliquam in lectus sed velit viverra sodales ut sit amet enim. Nam sed justo dapibus, volutpat augue non, pulvinar neque. Pellentesque volutpat augue ullamcorper ullamcorper tincidunt. Morbi id aliquam odio. Mauris posuere interdum tellus quis aliquet. In hac habitasse platea dictumst. Pellentesque eget sollicitudin sem, eget tincidunt purus. Nam efficitur felis quis neque malesuada sodales. Aenean sit amet magna pellentesque, congue massa eu, pharetra leo.</p>
				</div>
				<div class="col-md-4">

					<!-- Room Details -->
					<ul class="room-details">
						<li class="room-details__item">
							<i class="fas fa-phone"></i>
								+1 800 900 1248
						</li>
						<li class="room-details__item">
							<i class="fas fa-envelope"></i>
							<a href="mailto:support@escapium.com">support@escapium.com</a>
						</li>
						<li class="room-details__item">
							<i class="fab fa-skype"></i>
							<a href="#">escapium</a>
						</li>
						<li class="room-details__item">
							<i class="fas fa-map-marker-alt"></i>
							3031 New York St, Miami, FL 33132
						</li>
					</ul>
					<!-- Room Details / End -->

					<a href="#" class="btn btn-primary btn-lg">Book Now!</a>

				</div>
			</div>
		</div>
		<!-- Single Room - Content / End -->

	</div>

</div>

<!-- Booking Form -->
<div class="section-content section-content--secondary">
	<div class="container">

		<!-- Section Title - Centered -->
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title">Booking Form</h2>
		</div>
		<!-- Section Title - Centered / End -->

		<div class="row">
			<div class="col-md-8 ml-md-auto mr-md-auto">

				{{> _booked-form }}

			</div>
		</div>

	</div>
</div>
<!-- Booking Form / End -->

<!-- Related Rooms -->
<div class="section-content">
	<div class="container">

		<h2>Other Rooms</h2>

		<!-- Rooms Grid - 3 cols -->
		<div class="row rooms rooms--grid js-rooms-related slick--arrows-top">

			<!-- Room #9 -->
			<div class="room col-sm-6 col-md-4 room--category-normal">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="3"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">Back To The Future</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 3-4
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> New York 3031
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img9.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #9 / End -->

			<!-- Room #2 -->
			<div class="room col-sm-6 col-md-4 room--category-hard">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="4"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">The Cure</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 2-3
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> Los Angeles 20198
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img2.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #2 / End -->

			<!-- Room #3 -->
			<div class="room col-sm-6 col-md-4 room--category-easy">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="2"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">Burlesque</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 3-5
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> Beverly Hills 90210
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img3.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #3 / End -->

			<!-- Room #4 -->
			<div class="room col-sm-6 col-md-4 room--category-hard">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="5"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">Prison Break</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 4-6
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> New York 3031
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img4.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #4 / End -->

			<!-- Room #5 -->
			<div class="room col-sm-6 col-md-4 room--category-easy">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="2"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">The Hospital</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 2-3
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> New York 3031
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img5.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #5 / End -->

			<!-- Room #6 -->
			<div class="room col-sm-6 col-md-4 room--category-easy">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="3"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">Abandoned Factory</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 6-8
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 120
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> Oklahoma City 2179
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img6.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #6 / End -->

		</div>
		<!-- Rooms Grid - 3 cols / End  -->

	</div>
</div>
<!-- Related Rooms / End -->
