---
page-heading: "Rooms"

breadcrumbs: [
	{
		link: "#",
		label: "Rooms"
	},
	{
		label: "Grid 3 Cols"
	}
]
---

<div class="section-content">
	<div class="container">

		{{> _room-filter }}

		<!-- Rooms Grid - 3 cols -->
		<div class="row rooms rooms--grid js-rooms--grid">

			<!-- Room #1 -->
			<div class="room col-sm-6 col-md-4 room--category-normal">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="3"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">Magic Imporium</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 2-3
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> New York 3031
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img1.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #1 / End -->

			<!-- Room #2 -->
			<div class="room col-sm-6 col-md-4 room--category-hard">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="4"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">The Cure</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 2-3
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> Los Angeles 20198
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img2.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #2 / End -->

			<!-- Room #3 -->
			<div class="room col-sm-6 col-md-4 room--category-easy">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="2"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">Burlesque</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 3-5
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> Beverly Hills 90210
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img3.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #3 / End -->

			<!-- Room #4 -->
			<div class="room col-sm-6 col-md-4 room--category-hard">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="5"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">Prison Break</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 4-6
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> New York 3031
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img4.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #4 / End -->

			<!-- Room #5 -->
			<div class="room col-sm-6 col-md-4 room--category-easy">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="2"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">The Hospital</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 2-3
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> New York 3031
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img5.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #5 / End -->

			<!-- Room #6 -->
			<div class="room col-sm-6 col-md-4 room--category-easy">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="3"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">Abandoned Factory</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 6-8
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 120
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> Oklahoma City 2179
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img6.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #6 / End -->

			<!-- Room #7 -->
			<div class="room col-sm-6 col-md-4 room--category-hard">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="4"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">Bunker 51</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 4-6
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> New York 3031
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img7.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #7 / End -->

			<!-- Room #8 -->
			<div class="room col-sm-6 col-md-4 room--category-easy">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="2"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">The Mystical Room</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 2-3
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> Los Angeles 20198
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img8.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #8 / End -->

			<!-- Room #9 -->
			<div class="room col-sm-6 col-md-4 room--category-normal">
				<div class="room__inner">
					<div class="room__body">
						{{> _room-rating count="3"}}
						<!-- Title -->
						<h2 class="room__title"><a href="room-single.html">Back To The Future</a></h2>
						<!-- Title / End -->
						<!-- Meta -->
						<div class="room__meta">
							<div class="room__meta-item">
								<i class="ion-person-stalker"></i> 3-4
							</div>
							<div class="room__meta-item">
								<i class="icon-clock"></i> 60
							</div>
							<div class="room__meta-item">
								<i class="ion-location"></i> New York 3031
							</div>
						</div>
						<!-- Meta / End -->
					</div>
					<!-- Image -->
					<figure class="room__img">
						<a href="room-single.html"><img src="{{../root}}assets/img/samples/room-grid-3-img9.jpg" alt=""></a>
					</figure>
					<!-- Image / End -->
				</div>
			</div>
			<!-- Room #9 / End -->

		</div>
		<!-- Rooms Grid - 3 cols / End  -->

		{{> _room-pagination }}

	</div>
</div>
